<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsPathExtender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsPathExtender.Properties.Settings>
            <setting name="LoadName" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="LoadLocation" serializeAs="String">
                <value>both</value>
            </setting>
            <setting name="LoadOutput" serializeAs="String">
                <value>tmp/env.txt</value>
            </setting>
            <setting name="LoadSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveName" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="SaveFormat" serializeAs="String">
                <value>Path_{0}</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>sys</value>
            </setting>
            <setting name="SaveInput" serializeAs="String">
                <value>tmp/env.txt</value>
            </setting>
            <setting name="SaveOutput" serializeAs="String">
                <value>tmp/save.reg</value>
            </setting>
            <setting name="SaveBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadExpand" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsPathExtender.Properties.Settings>
    </userSettings>
</configuration>